<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do Fancy: Home</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Todo-Progress</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href='#' @click="logout" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div v-if="status == 'success'" class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert" @click="clearStatus">&times;</button>
        <strong>Well done!</strong> Success command.
      </div>
      
      <div v-if="status == 'fails'" class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert" @click="clearStatus">&times;</button>
        <strong>Aww Snap!</strong> Unsuccess command.
      </div>
      
      <!-- modal add -->
      <div class="modal" id="addTodo">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add To Do</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <fieldset>
                  <div class="form-group">
                    <label for="todo">Todo</label>
                    <input v-model='newtodo' class="form-control" id="todo" aria-describedby="todoHelp" placeholder="Enter todo" type="text">
                  </div>
                  <div class="form-group">
                    <label for="tag">Tag</label>
                    <textarea v-model='newtag' class="form-control" id="tag" rows="3"></textarea>
                    <small id="todoHelp" class="form-text text-muted">Tag your comrades email. Separate by coma</small>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="addTodo" >Add Todo</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> <!-- end modal -->
      
      <!-- modal edit -->
      <div class="modal" id="editTodo">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit To do</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <fieldset>
                  <div class="form-group">
                    <label for="todo">To do</label>
                    <input v-model='todoEdit.todo' class="form-control" id="todo" aria-describedby="todoHelp" placeholder="Enter todo" type="text" :value='todoEdit'>
                  </div>
                  <div class="form-group">
                    <label for="tag">Tag</label>
                    <textarea v-model='todoTagString' class="form-control" id="tag" rows="3"></textarea>
                    <small id="todoHelp" class="form-text text-muted">Tag your comrades email. Separate by coma</small>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="editTodo" >Edit To do</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> <!-- end modal edit -->
      
      <!-- body main -->
      <div class="container main">
        
        <button type="button" data-toggle="modal" data-target="#addTodo" class="btn btn-primary new_todo">Add new Todo</button>
        
        <!-- nav tag -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#mytodo">To Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mytaggedtodo" @click="getTag">Tagged To Do</a>
          </li>
        </ul>
        
        <!-- start todo -->
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="mytodo">
            <div class="row my_todo">
              <div class="col-md-12">
                <my-todo :todos="todos" :username="username" :token="token" @edit-todo="editHandler"/>
                
              </div>
            </div>
          </div> <!-- end todo -->
          
          <!-- start tagged todo -->
          <div class="tab-pane fade in" id="mytaggedtodo">
            <div class="row">
              <div class="col-md-12 my_tagged_todo">
                <my-tag :todos="mytag" :token="token" />
              </div>
            </div>
          </div> <!-- end tagged todo -->
          
        </div>
        
      </div> <!-- end main -->
    </div>
    
    <!-- bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- vue instance -->
    <script src="assets/vue/todo.js" charset="utf-8"></script>
    <script src="assets/vue/tag.js" charset="utf-8"></script>
    <script src="assets/vue/home.js" charset="utf-8"></script>
    <!-- <script src="assets/js/moment.js" charset="utf-8"></script> -->
  </body>
</html>